# General utilities
numpy
pandas

# Logging and automation
loguru
datetime

# Google Sheets API
gspread
oauth2client
google-api-python-client


# GitHub interaction (if needed)
gitpython

#Environment Variable
